*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: 'Karla', sans-serif;
}

body{
  background-color: #f6f7fb;
}





main{
  display: flex;
  align-items: center;
  background-image: url("src/assets/Blue_Blob.png"), url("src/assets/Yellow_Blob.png");
  background-position: left  bottom, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: 15vw, 20vw ;
  padding: 1em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-text{
text-align: center;
}

h1{
  color: #293264;
font-family: Karla;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0.5em 0em;
}

.start-text p{
  color: #293264;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 1.2em 0em;
}

button{
  color: #F5F7FB;
background: #4D5B9E;
text-align: center;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: normal;
  cursor: pointer;
  padding: 1em;
  border-radius: 1em;
  border: none;
  width: 100%;
  max-width: 200px;
}
